@model Centralization.Models.IntermentProfile

<div class="card">
    <div class="card-header">
        <h4 class="text-center">@Html.DisplayFor(model => model.Interred.FullName)</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-md-6">
                @Html.DisplayNameFor(model => model.Interred.CemName)
            </dt>
            <dd class="col-md-6">
                @Html.DisplayFor(model => model.Interred.CemName)
            </dd>
            <dt class="col-md-6">
                @Html.DisplayNameFor(model => model.Interred.Location)
            </dt>
            <dd class="col-md-6">
                @Html.DisplayFor(model => model.Interred.Location)
            </dd>
            <dt class="col-md-6">
                @Html.DisplayNameFor(model => model.Interred.IDate)
            </dt>
            <dd class="col-md-6">
                @Html.DisplayFor(model => model.Interred.IDate)
            </dd>
            <dt class="col-md-6">
                @Html.DisplayNameFor(model => model.Interred.EasementNo)
            </dt>
            <dd class="col-md-6">
                @if (string.IsNullOrEmpty(Model.Interred.EasementNo))
                {
                    @Html.Label("N/A")
                }
                else
                {
                    @Html.DisplayFor(model => model.Interred.EasementNo)
                }
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-4 image-column">
                <h5 class="text-center">Interment Order</h5>
                @if (Model.IntermentOrderImages.Count == 0)
                {
                    <p class="alert alert-danger">No Results Were Found</p>
                }
                else
                {
                    <div id="IOImagesCarousel" class="carousel slide" data-ride="carousel">
                        @if (Model.IntermentOrderImages.Count > 1)
                        {
                            <ol class="carousel-indicators">
                                <li data-target="#IOImagesCarousel" data-slide-to="0" class="active"></li>
                                @for (int i = 1; i < Model.IntermentOrderImages.Count; i++)
                                {
                                    <li data-target="#IOImagesCarousel" data-slide-to="@i"></li>
                                }
                            </ol>
                        }
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="#" class="with-caption image-link" data-mfp-src="@Model.IntermentOrderImages.ElementAt(0)" data->
                                    <img src="@Model.IntermentOrderImages.ElementAt(0)" class="d-block w-100 my-image" alt="..." id="IOImage0" />
                                </a>
                            </div>

                            @for (int i = 1; i < Model.IntermentOrderImages.Count; i++)
                            {
                                <div class="carousel-item">
                                    <a href="#" class="with-caption image-link" data-mfp-src="@Model.IntermentOrderImages.ElementAt(i)">
                                        <img src="@Model.IntermentOrderImages.ElementAt(i)" class="d-block w-100 my-image" alt="..." id="@string.Format("IOImage{0}", i+1)" />
                                    </a>
                                </div>
                            }
                        </div>
                        @if (Model.IntermentOrderImages.Count > 1)
                        {
                            <a class="carousel-control-prev" href="#IOImagesCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#IOImagesCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        }
                    </div>
                }
            </div>
            <div class="col-md-4 image-column">
                <h5 class="text-center">Easement for Burial</h5>
                @if (Model.EasementImages.Count == 0)
                {
                    <p class="alert alert-danger">No Results Were Found</p>
                }
                else
                {
                    <div id="EBImagesCarousel" class="carousel slide" data-ride="carousel">
                        @if (Model.EasementImages.Count > 1)
                        {
                            <ol class="carousel-indicators">
                                <li data-target="#EBImagesCarousel" data-slide-to="0" class="active"></li>
                                @for (int i = 1; i < Model.EasementImages.Count; i++)
                                {
                                    <li data-target="#EBImagesCarousel" data-slide-to="@i"></li>
                                }
                            </ol>
                        }
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="#" class="with-caption image-link" data-mfp-src="@Model.EasementImages.ElementAt(0)" data->
                                    <img src="@Model.EasementImages.ElementAt(0)" class="d-block w-100 my-image" alt="..." id="EBImage0" />
                                </a>
                            </div>

                            @for (int i = 1; i < Model.EasementImages.Count; i++)
                            {
                                <div class="carousel-item">
                                    <a href="#" class="with-caption image-link" data-mfp-src="@Model.EasementImages.ElementAt(i)">
                                        <img src="@Model.EasementImages.ElementAt(i)" class="d-block w-100 my-image" alt="..." id="@string.Format("EBImage{0}", i+1)" />
                                    </a>
                                </div>
                            }
                        </div>
                        @if (Model.EasementImages.Count > 1)
                        {
                            <a class="carousel-control-prev" href="#EBImagesCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#EBImagesCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        }
                    </div>
                }
            </div>
            <div class="col-md-4 image-column">
                <h5 class="text-center">Lot Card</h5>
                @if (Model.LotCardImages.Count == 0)
                {
                    <p class="alert alert-danger">No Results Were Found</p>
                }
                else
                {
                    <div id="LCImagesCarousel" class="carousel slide" data-ride="carousel">
                        @if (Model.LotCardImages.Count > 1)
                        {
                            <ol class="carousel-indicators">
                                <li data-target="#LCImagesCarousel" data-slide-to="0" class="active"></li>
                                @for (int i = 1; i < Model.LotCardImages.Count; i++)
                                {
                                    <li data-target="#LCImagesCarousel" data-slide-to="@i"></li>
                                }
                            </ol>
                        }
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="#" class="with-caption image-link" data-mfp-src="@Model.LotCardImages.ElementAt(0)" data->
                                    <img src="@Model.LotCardImages.ElementAt(0)" class="d-block w-100 my-image" alt="..." id="LCImage0" />
                                </a>
                            </div>

                            @for (int i = 1; i < Model.LotCardImages.Count; i++)
                            {
                                <div class="carousel-item">
                                    <a href="#" class="with-caption image-link" data-mfp-src="@Model.LotCardImages.ElementAt(i)">
                                        <img src="@Model.LotCardImages.ElementAt(i)" class="d-block w-100 my-image" alt="..." id="@string.Format("LCImage{0}", i+1)" />
                                    </a>
                                </div>
                            }
                        </div>
                        @if (Model.LotCardImages.Count > 1)
                        {
                            <a class="carousel-control-prev" href="#LCImagesCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#LCImagesCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        }
                    </div>
                }
            </div>

            <div class="col-md-6">
                <h5>Interment Card</h5>
                @if (Model.IntermentCardImages.Count == 0)
                {
                    <p class="alert alert-danger">No Interment Cards Were Found</p>
                }
                else
                {
                    <div id="ICImagesCarousel" class="carousel slide" data-ride="carousel">
                        @if (Model.IntermentCardImages.Count > 1)
                        {
                            <ol class="carousel-indicators">
                                <li data-target="#ICImagesCarousel" data-slide-to="0" class="active"></li>
                                @for (int i = 1; i < Model.IntermentCardImages.Count; i++)
                                {
                                    <li data-target="#ICImagesCarousel" data-slide-to="@i"></li>
                                }
                            </ol>
                        }
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="#" class="with-caption image-link" data-mfp-src="@Model.IntermentCardImages.ElementAt(0)" data->
                                    <img src="@Model.IntermentCardImages.ElementAt(0)" class="d-block w-100 my-image" alt="..." id="ICImage0" />
                                </a>
                            </div>

                            @for (int i = 1; i < Model.IntermentCardImages.Count; i++)
                            {
                                <div class="carousel-item">
                                    <a href="#" class="with-caption image-link" data-mfp-src="@Model.IntermentCardImages.ElementAt(i)">
                                        <img src="@Model.IntermentCardImages.ElementAt(i)" class="d-block w-100 my-image" alt="..." id="@string.Format("ICImage{0}", i+1)" />
                                    </a>
                                </div>
                            }
                        </div>
                        @if (Model.IntermentCardImages.Count > 1)
                        {
                            <a class="carousel-control-prev" href="#ICImagesCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#ICImagesCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        }
                    </div>
                }
            </div>
            <div class="col-md-6">
                <h5>Documents</h5>
                @if (Model.DocumentImages.Count == 0)
                {
                    <p class="alert alert-danger">No Documents Were Found</p>
                }
                else
                {
                    <div id="DocImagesCarousel" class="carousel slide" data-ride="carousel">
                        @if (Model.DocumentImages.Count > 1)
                        {
                            <ol class="carousel-indicators">
                                <li data-target="#DocImagesCarousel" data-slide-to="0" class="active"></li>
                                @for (int i = 1; i < Model.DocumentImages.Count; i++)
                                {
                                    <li data-target="#DocImagesCarousel" data-slide-to="@i"></li>
                                }
                            </ol>
                        }
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="#" class="with-caption image-link" data-mfp-src="@Model.DocumentImages.ElementAt(0)" data->
                                    <img src="@Model.DocumentImages.ElementAt(0)" class="d-block w-100 my-image" alt="..." id="DocImage0" />
                                </a>
                            </div>

                            @for (int i = 1; i < Model.DocumentImages.Count; i++)
                            {
                                <div class="carousel-item">
                                    <a href="#" class="with-caption image-link" data-mfp-src="@Model.DocumentImages.ElementAt(i)">
                                        <img src="@Model.DocumentImages.ElementAt(i)" class="d-block w-100 my-image" alt="..." id="@string.Format("DocImage{0}", i+1)" />
                                    </a>
                                </div>
                            }
                        </div>
                        @if (Model.DocumentImages.Count > 1)
                        {
                            <a class="carousel-control-prev" href="#DocImagesCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#DocImagesCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>